<html lang="pt-br">
  <head>
    <title></title>
    
    <%- include('../partials/head') %>
      <!-- Importações de design e modelos css  -->
      <!-- <link rel="stylesheet" href="/swal-b4/bootstrap-4.css"> -->
      <link rel="stylesheet" type="text/css" href="/public/css/login.css">  
      <link rel="stylesheet" type="text/css" href="/public/css/bootstrap/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="/public/bootstrap-icons/font/bootstrap-icons.css">  
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="/public/js/celulas.js"></script>
    </head> 
    <body onLoad="efeito()">
      <div class="canvas1" id="canvas1" name="canvas1"></div>
      <canvas class="canvas66" id="canvas66"></canvas>
      
    </div> 
    <footer>
      <%- include('../partials/footer') %>
    </footer>  
  </body>
</html>
