<!doctype html>
<html lang="pt-br">

<head>
    <title>Editar Usuário</title>
    <%- include('../partials/head'); %>
</head>

<body onload="iniciar()">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <div  class="container mt-4">
        <div class="bg-primary text-white ">
            <h2 id="titulo">Visualização de Usuário: </h2>
        </div>
        <div class="dados bg-info mt-0">
            <div class="linha">
                <strong>ID:</strong>
                <p class="pe" id="uid"></p>
            </div>
            <div class="linha">
                <strong>Nome: </strong>
                <p class="pe" id="nome"></p>
            </div>
            <div class="linha">
                <strong>E-mail: </strong>
                <p class="pe" id="email"></p>
            </div>
            <div class="linha">
                <strong>classe: </strong>
                <p class="pe" id="classe"></p>
            </div>
            <div class="linha">
                <strong>Ultimo Login: </strong>
                <p class="pe" id="last-login"></p>
            </div>
            <!--<div class="linha">
                <strong>Foto: </strong>
                <p class="pe" id="foto"></p>
            </div>-->
            <div class="linha">
                <strong>Senha: </strong>
                <p class="pe" id="senha"></p>
            </div>
        </div>    
    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script>
        
        function iniciar(){
            let urlUser = "/getUser/"+"<%-id%>";
            const loadData = () => {
                const req = new XMLHttpRequest();
                req.onload = reqListener;
                req.open("get", urlUser, true);
                req.send();
            };
            const reqListener = response => {
            let a = JSON.parse(response.currentTarget.response);
            let usu = a[0];
            //declatação das variaveis
            let t1 = document.getElementById("titulo");
            let uid = document.getElementById("uid");
            let nome = document.getElementById("nome");
            let email = document.getElementById("email");
            let classe = document.getElementById("classe");
            let login = document.getElementById("last-login");
            let foto = document.getElementById("foto");
            let senha = document.getElementById("senha");
            // definindo valores no HTML
            t1.innerHTML = "Visualização de Usuário: " + usu.u_nome;
            uid.innerHTML =  usu.u_id;
            nome.innerHTML =  usu.u_nome;
            email.innerHTML =  usu.u_email;
            classe.innerHTML =  usu.u_class;
            login.innerHTML =  usu.u_last_login;
            //foto.innerHTML =  usu.u_foto;
            senha.innerHTML =  usu.u_senha;
            console.log(usu);
            
            };
            
            loadData();
            
        };
           
                   
                
    </script>
</body>

</html>