<!doctype html>
<html lang="pt-br">
  <head>
    <title>LOGIN</title>
    <script src="/swal/dist/sweetalert2.min.js"></script>
       <!-- Importações de design e modelos css  -->
    <!-- <link rel="stylesheet" href="/swal-b4/bootstrap-4.css"> -->
    <link rel="stylesheet" type="text/css" href="/public/css/login.css">  
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/bootstrap-icons/font/bootstrap-icons.css">  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/public/js/celulas.js"></script>
  </head> 
  <body onLoad="efeito()">
    <div class="canvas1" id="canvas1" name="canvas1"></div>
    <canvas class="canvas66" id="canvas66"></canvas>
    <div class="container" id="login">
      <div class="d-flex justify-content-center">
        <div class="user_card">
          <div class="d-flex justify-content-center">
            <div class="brand_login_container">
              <img src="/public/img/logo.png" class="brand_login" alt="Logo">
            </div>
          </div>
          <div class="d-flex justify-content-center form_container">
            <form action="/auth" method="POST">
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                </div>
                <input type="text" name="email" id="email" class="form-control input_user" value="" placeholder="E-mail" required>
              </div>
              <div class="input-group mb-2">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
                </div>
                <input type="password" name="senha" id="senha" class="form-control input_pass" value="" placeholder="Senha" required>
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customControlInline">
                  <label class="custom-control-label text-white" for="customControlInline">Remember me</label>
                </div>
              </div>
                <div class="d-flex justify-content-center mt-3 login_container">
             <button type="submit" name="button" class="btn login_btn">Login</button>
             </div>
            </form>
          </div>
      
          <div class="mt-4">
            <div class="d-flex justify-content-center links text-white">
              Não tem uma conta? <a href="criar" class="ml-2">Criar conta</a>
            </div>
            <div class="d-flex justify-content-center links">
              <a class="text-white" href="#">Esqueceu a sua senha?</a>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <footer>
      <%- include('../partials/footer') %>
    </footer>
    
  </body>
  <script src="/public/js/relogio.js"></script>
  <script src="/public/js/celulas.js"></script>
</html>
